*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 100vh;
    background-color: hsl(0, 0%, 80%);
}
/* Css for header */
header{
    grid-column: 2/3;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    padding: 10px 30px;
    background-color: white;
    position: fixed;
    left: 16.5%;
    width: 80%;
    box-shadow: 1px 1px 7px black;
}
header .first{
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 20px;
    align-content: center;
}
header .first .right{
    display: grid;
    grid-template-columns: 0.1fr 5fr 0.1fr; 
    gap: 10px;   
    align-items: center;
}
header .first .right img{
    width: 20px;
    height: 20px;
}
input{
    height: 25px;
    width: 650px;
    border-radius: 30px;
    background-color: hsl(0, 0%, 80%);
    border: none;
    outline: none;
    padding: 0px 10px
}
/* The left side of the first header */
header .first .left{
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    align-items: center;
}
header .first .left p{
    font-weight: bold;
}
header .first .left #Profilepic{
    width: 40px;
    border-radius: 50px;
}
/* The second side of the header */
header .second{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
/* The left grid on the second header */
header .second .left{
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    gap: 10px;
    align-items: center;
}
header .second .left #LargeProfilepic{
    width: 60px;
    border-radius: 50px;
}
header .second .left .writeup p{
    font-weight: bold;
}

/* The right side of the second header */
/* The buttons on the right side */
header .second .right{
    display: grid;
    grid-template-columns: 0.2fr 0.2fr 0.2fr;
    gap: 20px;
    align-items: center;
}
header .second .right button{
    background-color: hsl(240, 90%, 100%);
    border: 1px solid hsl(0, 100%, 50%);
    height: 30px;
    padding: 5px 30px;
    color: black;
    border-radius: 30px;
    justify-self: start;
}
header .second .right button:hover{
    background-color: hsl(0, 100%, 50%);
    color: white;
}
/* The sidebar of the page*/
.sidebar{
    background-color: hsl(0, 100%, 50%);
    display: grid;
    grid-row: 1/3;
    grid-template-rows: 0.1fr 0.5fr 0.2fr;
    gap: 10px;
    color: white;
    font-weight: bold;
    position: fixed;
    width: 17%;
    height: 100%;
}
.imgcontainer{
    display: grid;
    grid-template-columns: 0.1fr 0.9fr;
    gap: 10px;
    padding: 10px;
    align-items: center;
}
.sidebar .logo{
    display: grid;
    margin-top: 10px;
    margin-left: 10px;
    grid-template-columns: 0.2fr 0.9fr;
    gap: 10px;
    align-items: center;
    font-size: 1.5rem;
}

.logo img{
    width: 100%;
}
.imgcontainer img{
    width: 120%
}
.sidebar-menu-top{
    margin: 10px 10px;
}
.sidebar-menu-bottom{
    margin: 10px 10px;
}
/* The main section */
main{
    grid-column: 2/3;
    margin: 10px 20px;
    position: relative;
    top: 25%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
}
.projectcointainer{
    display: grid;
    grid-template-columns: repeat(3 1fr);
    background-color: black;
}
.containerarticle{
    width: 100%;
    height: 100%;
    background-color: gold;
}
/* The announcement/trending section */
/* The announcement */
main .announcements .Announce-container{
    display: grid;
    grid-template-rows: repeat(3 1fr);
    gap: 10px;
    height: 50%;
    width: 80%;
    padding: 5px 30px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 1px 1px 5px hsl(0, 0%, 0%, 50%);
    margin-top: 10px;
    margin-bottom: 40px;
}
main .announcements .Announce-container .-ann-con{
    border-bottom: 2px solid hsl(0, 0%, 0%, 30%);
    margin: 10px 0;
    padding: 10px 0;
}
main .announcements .Announce-container .-ann-con:nth-child(3){
    border-bottom: none;
}
/* trending */
main .container-white-bottom{
    display: grid;
    grid-template-rows: repeat(4 1fr);
    gap: 20px;
    height: 60%;
    width: 80%;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 1px 1px 5px hsl(0, 0%, 0%, 50%);
    margin-top: 10px;
}
main .container-white-bottom .hold-trend{
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    gap: 10px;
    align-items: center;
}
/* The images in trending */
main .container-white-bottom .hold-trend img{
    width: 50px;
    border-radius: 50px;
}